<nav class="navbar navbar-default">  
  <div class="container-fluid">
    <div class="navbar-nav navbar-left">
      <h4>TODO app</h4>
    </div>
    <div class="navbar-nav navbar-right">
      <button *ngIf="!isLoggedIn"
        class="btn btn-default filledbtn mr-2"
        (click)="openModal('login')"
        type="button">
          Bejelentkezés
      </button>
      <button *ngIf="isLoggedIn" 
        class="btn btn-default filledbtn"
        (click)="logout()"
        type="button">
          Kijelentkezés
      </button>
    </div>
  </div>
</nav>
<app-login></app-login>
<app-signup></app-signup>
